<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th></th>
<th><strong>Attributes: Demonstrates the following indicators of Leadership Skills &amp; Capability to deliver positive outcomes for their team:</strong></th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Commercial Support</strong></th>
<td>- Supports the team&rsquo;s resilience in managing setbacks within the team.<br><br>- Contributes to knowledge sharing in the team.<br><br>- Awareness of the standards to eliminate corruption, fraud and unethical behaviour in supply chains and the actions required in the event of any alleged breach of standards.<br><br>- Awareness of using different communication styles with different audiences.</td>
</tr>
<tr>
<th><strong>Associate Commercial Practitioner</strong></th>
<td>- Understands the importance of working with stakeholders both internally and externally in order to understand the needs of the business and wider cross-government strategies and then building those needs into the category strategy.<br><br>- Understands the importance of communication with stakeholders at different levels and ensuring they understand what progress and benefits have been achieved.<br><br>- Understands the standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards.<br><br>- Develops awareness of resilience in resolving issues internally and in working with others in the team to manage setbacks. <br><br>- Develops awareness of their own strengths, skill gaps and career aspirations and understands how to build own capability.<br><br>- Supports knowledge sharing within the team.<br><br>- Developing ability to use different communication styles with different audiences.</td>
</tr>
<tr>
<th><strong>Commercial Practitioner</strong></th>
<td>- Works with stakeholders both internally and externally in order to understand the needs of the business and wider cross-government strategies and then building those needs into the category strategy in the area of responsibility.<br><br>- Demonstrates the importance of communication with stakeholders at different levels and ensuring they understand what progress and benefits have been achieved.<br><br>- Applies the standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards.<br><br>- Demonstrates resilience in resolving issues internally and in working with others in the team to manage setbacks. <br><br>- Works on own strengths, skill gaps and career aspirations and understands how to build own capability.<br><br>- Leads on knowledge sharing within the team.<br><br>- Demonstrates different communication styles with different audiences.</td>
</tr>
<tr>
<th><strong>Associate Commercial Lead</strong></th>
<td>- Develops and delivers strong relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government. <br><br>- Applies the principles of supplier management and manages and evaluates strategic and non-strategic supplier relationships.<br><br>- Maintains relationships with strategic and non-strategic stakeholders and communicates progress with the category strategy and benefits realisation.<br><br>- Applies the standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards.<br><br>- Demonstrates resilience in resolving issues internally and in working with others in the team to manage setbacks. <br><br>- Understands own strengths, skill gaps and career aspirations and actively seeks to build own capability.<br><br>- Demonstrates knowledge sharing within the team.<br><br>- Demonstrates ability to use different communication styles with different audiences.</td>
</tr>
<tr>
<th><strong>Commercial Lead</strong></th>
<td>- Demonstrates resilience in resolving issues internally and in helping the team to deal with setbacks.<br><br>- Implements change at a local level, working with affected parties to identify and overcome challenges.<br><br>- Manages stakeholders and communicates with impact.<br><br>- Influences internal decisions and leads discussions with suppliers, engaging well on technical issues and terms and conditions.<br><br>- Is trusted for commercial advice and is able to put technical considerations in plain language for stakeholders.<br><br>- Adapts quickly to different environments, and uses different communications styles depending upon the needs of the particular audience.<br><br>- Builds confidence in teams, encouraging them to develop and improve.<br><br>- Understands, at local level, the team&rsquo;s strengths, skill gaps and individual career aspirations and actively seeks to build capability.<br><br>- Promotes knowledge and resource sharing within their team.<br><br>- Works with stakeholders and communicates standards to eliminate corruption, fraud and unethical behaviour in supply chains, taking appropriate actions in the event of any alleged breach of standards.</td>
</tr>
<tr>
<th><strong>Associate Commercial Specialist</strong></th>
<td>- Demonstrates resilience in interactions with suppliers and across the team, defending the department&rsquo;s position.<br><br>- Considers the cumulative impact on the business area of implementing change (culture, structure, service and morale).<br><br>- Presents technical issues to senior stakeholders and helps them arrive at decisions by acting in an advisory capacity.<br><br>- Involves partners to deliver a business outcome through collaboration.<br><br>- Acts as a role model in supporting and energising teams to build confidence in their ability to deliver outcomes.<br><br>- Understands the wider team&rsquo;s commercial capability and experience and identifies any skill gaps.<br><br>- Coaches and supports colleagues to take responsibility for their own development through providing accountability, varied assignments and on-going feedback. Uses bank of experience to provide examples to those they coach.<br><br>- Promotes knowledge and resource sharing within the commercial function.<br><br>- Influences stakeholders to take active steps to eliminate corruption, fraud and unethical behaviour in supply chains.</td>
</tr>
<tr>
<th><strong>Commercial Specialist</strong></th>
<td>- Demonstrates resilience in doing commercial deals and managing teams in complex and uncertain situations.<br><br>- Drives a culture and supports and encourages a focus on performance and priorities.<br><br>- Displays strong motivational capabilities and applies these across the department. Identifies step changes that transform flexibility, responsiveness and quality of services.<br><br>- Promotes and visibility demonstrates a culture of value for money in own area and across the departments.<br><br>- Builds trust as a leader through demonstrating personal credibility and relationship skills. <br><br>- Can visualise a whole commercial deal over time from conception to delivery and can clearly articulate this to key stakeholders.<br><br>- Educates, advises, challenges and guides on commercial priorities.<br><br>- Expresses own opinion with credibility and gives formal advice to the policy team.<br><br>- Acts as a role model for securing positive commercial outcomes across the department.<br><br>- Builds capability within the department of commercial skills and leadership.<br><br>- Dedicates time to supporting and empowering people through coaching and mentoring and sharing expertise/knowledge.<br><br>- Promotes commercial awareness across the department.<br><br>- Promotes knowledge and resource sharing with peers and across functions.<br><br>- Delegates risks and issues among their team in line with their experience and potential.<br><br>- Contributes to the development of standards and/or policy to eradicate corruption, fraud and unethical behaviour.</td>
</tr>
<tr>
<th><strong>Senior Commercial Specialist</strong></th>
<td>- Able to demonstrate the resilience and emotional maturity to thrive on ambiguity in highly stressful situations across a broad commercial environment.<br><br>- Drives a performance culture across the department and achieves results through others, resolutely holding them accountable for outcomes.<br><br>- Acts as a thought leader and role model for innovation and improvement across the Civil Service.<br><br>- Creates a culture of flexibility and responsiveness, mobilising the departments to respond swiftly to changing priorities.<br><br>- Plays a key change management role in developing a strong cross-government commercial function.<br><br>- Seeks out opportunities to represent the organisation in externally facing activities that positively support the profession and commercial as a whole.<br><br>- Builds a strong network of collaborative relationships and partnerships across the Civil Service, at the highest levels in government and beyond (UK and globally) to help departmental and wider Civil Service objectives.<br><br>- Takes a strategic perspective to identifying the capability needs of the department and identifying and nurturing future leaders.<br><br>- Establishes a departmental culture where commercial skills are valued and rewarded.<br><br>- Is an inspiring leader with the ability and enthusiasm to coach and mentor team members. Articulates what it means to be an effective coach at all levels.<br><br>- Drives the development and implementation of standards and/or policy to eradicate corruption, fraud and unethical behaviour.</td>
</tr>
</tbody>
</table>