<table class="financial-data source-tableeditor">
<thead>
<tr class="total">
<th>&nbsp;</th>
<th><strong>Attributes: Demonstrates the following indicators of Business Acumen and Commercial Judgement to deliver positive outcomes for their team:</strong></th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Commercial Support</strong></th>
<td>- Has a basic understanding of how markets work.

<br><br>- Collates data and information to support the commercial activity under supervision.

<br><br>- Has a basic understanding of risks, their impact and how mitigation techniques work.&nbsp;</td>
</tr>
<tr>
<th><strong>Associate Commercial Practitioner</strong></th>
<td>- Understands and can explain markets and elementary economics factors which may determine a market shape.

<br><br>- Understands the impact of risks and perceived risks.

<br><br>- Ability to identify possible risks, including sustainability risks and opportunities and escalate appropriately. Applies appropriate risk mitigation techniques.

<br><br>- Understands and can apply tools and techniques associated with gathering commercial data and limited ability to apply them under supervision.

<br><br>- Confirms the type of supplier/services that are required and identifies potentially suitable suppliers and markets. Expressing the key roles and responsibilities of prime and sub-contractors for delivery, security and key performance indicators (KPIs).

<br><br>- Assesses the existing market dynamics, including concentration and competition within the marketplace.

<br><br>- Develops adequate awareness and knowledge to consider the full spectrum of models which can use markets to deliver services, including mutuals, joint ventures and disaggregation. &nbsp;</td>
</tr>
<tr>
<th><strong>Commercial Practitioner</strong><strong>&nbsp;</strong><strong>&nbsp;</strong></th>
<td>- Identifies personnel, cyber and physical risks for both the contractor and potential vendor ensuring that requirements are appropriate and proportionate throughout the contract life.

<br><br>- Identifies perceived and relevant areas of risk, confirms there is a shared understanding of risk, how it is to be allocated and gains agreement on how it is to be managed.

<br><br>- Familiar and comfortable with tools, such as PESTEL, SWOT and Porter&rsquo;s 5 Forces Model coupled with an appreciation of when and how to use them to support procurement processes.

<br><br>- Effectively manages relationships with strategic partners to enable sound partnership arrangements.

<br><br>- Identifies changes in the business needs of the organisation and develops new strategies for the category within the area of responsibility.

<br><br>- Actively involved in strategic and business critical negotiations. Can adapt/flex tactics during a negotiation without compromising the agreed strategy and compliance with the process.

<br><br>- Works effectively with senior staff in the supplier organisation and establishes appropriate governance and relationship arrangements.

<br><br>- Understands that intellectual property rights (IPR) is an important issue and needs to be considered when shaping requirements.

<br><br>- Identifies and accesses existing collaborative deals and assesses their suitability to meet all or part of the business requirement.

<br><br>- Ensures documents, such as Terms &amp; Conditions are fully considered when defining requirements.

<br><br>- Recognises the need to involve legal expertise in preparation of the contract and has some experience of doing so.&nbsp;</td>
</tr>
<tr>
<th><strong>Associate Commercial Lead</strong></th>
<td>- Works to ensure that personnel, cyber and physical risks are managed effectively throughout the contract life in the area of responsibility.

<br><br>- Utilises tools such as PESTEL, SWOT and Porter&rsquo;s 5 Forces Model appropriately to support procurement processes.

<br><br>- Utilises collaborative deals as part of the solution to the requirement and advises appropriately in the area of responsibility.

<br><br>- Applies a risk mindset in managing procurements.

<br><br>- Utilises documents, such as Terms &amp; Conditions, where appropriate, in shaping requirements.

<br><br>- Demonstrates understanding of managing complexity when making commercial decisions.&nbsp;</td>
</tr>
<tr>
<th><strong>Commercial Lead</strong></th>
<td>- Analyses risks and understands margins of error in developing recommendations.

<br><br>- Identifies and resolves problems when the data is not sufficient.

<br><br>- Understands trade-offs that need to be made in their area of work.

<br><br>- Articulates commercial motivations and expected behaviours of stakeholders, suppliers and networks.

<br><br>- Leads on securing value for money through achieving a good return on investment on commercial projects.

<br><br>- Involves the right stakeholders and partners in making recommendations or decisions early on and continues to engage them.

<br><br>- Applies commercial principles within the boundaries of contract law. Resolves legal issues in collaboration with experts.

<br><br>- Uses analysis to make effective decisions and can articulate key risks.

<br><br>- Presents conclusions when given evidence and is able to evaluate the relative strengths to confidently make good decisions.&nbsp;</td>
</tr>
<tr>
<th><strong>Associate Commercial Specialist</strong></th>
<td>- Takes calculated risks in the pursuit of implementing efficient sourcing projects to deliver innovative solutions in line with policy.

<br><br>- Conducts an analysis of risks and margins of error to provide assurance on decisions.

<br><br>- Draws together and presents reasonable conclusions from a wide range of incomplete and complex evidence and data; able to act or decide even when details are not clear.

<br><br>- Understands market and commercial drivers and motives in practice and develops strategies to exploit these.

<br><br>- Understands and practically applies the concept of &lsquo;value for money&rsquo; with respect to political goals and uses this to articulate what a successful return on investment looks like for a particular commercial project/programme.

<br><br>- Applies strong knowledge and understanding of contract law.

<br><br>- Expertly analyses options, manages trade-offs flowing from decisions and mitigates key risks.

<br><br>- Weighs up data from various sources, recognising when to bring in experts/researchers to add to available information.&nbsp;</td>
</tr>
<tr>
<th><strong>Commercial Specialist</strong></th>
<td>- Encourages ideas, improvements and measured risk-taking to deliver better approaches and services.

	<br><br>- Challenges the analysis of risks and margins of error to improve assurance on decisions.

	<br><br>- Manages the trade-offs and contradictions within complex deals and understands the impact and consequences on other areas.

	<br><br>- Generates the way forward on complex deals, focussed on outcomes and weighing up competing views.

	<br><br>- Takes accountability for the gathering and analysis of data across their area of responsibility.

	<br><br>- Effectively interprets and makes judgements on complex information.<br><br>- Understands motivations and behaviours of stakeholders, suppliers and networks and can utilise these to deliver on the department&rsquo;s commercial requirements.<br><br>- Understands and applies market shaping principles.<br><br>- Is comfortable working in a range of different categories/sectors, and with a wide range of suppliers.<br><br>- Where commercial judgements are based on established frameworks, challenges conventional wisdom to deliver better outcomes.<br><br>- Develops and defines standards of success in regards to the return on investment for a particular commercial project/programme in their area of responsibility.<br><br>- Develops the definition of value for each deal, leads the debate and makes the case with ministers.<br><br>- Applies strong knowledge of contract law and an understanding of relevant government precedents.<br><br>- Is clear when the standard commercial approach needs to be adapted to achieve a better outcome.<br><br>- Able to shape and define a deal in an imperfect and uncertain context; taking responsibility for the department&rsquo;s position and escalating only by exception.</td>
</tr>
<tr>
<th><strong>Senior Commercial Specialist</strong></th>
<td>- Understands the key commercial risks across their department and ensures that these are robustly managed.<br><br>- Understands and manages trade-offs across commercial, policy, delivery and operations.<br><br>- Manages the impact of complex commercial deals that have an impact across government.<br><br>- Swiftly analyses complex and ambiguous data to provide clarity and unbiased thinking.<br><br>- Sources and, where appropriate, shares information and data of benefit across the Civil Service from their networks, media and other sources.<br><br>- Uses nuanced understanding of the motivations and behaviours of stakeholders, suppliers and networks to achieve organisational objectives.<br><br>- Understands how money flows through contracts.<br><br>- Takes accountability for achieving and developing the definition of value for money across the organisation.<br><br>- Gears the commercial function towards a focus on achieving a successful return on its investments, where the standards for this are set by the definition of value for money employed across commercial deals.<br><br>- Applies strong knowledge of contract law and an understanding of relevant government precedents and how disputes arise within complex contract law.<br><br>- Is the go-to commercial person for the sector and can move out of standard frameworks when appropriate.<br><br>- Displays and articulates a complete understanding of the key parameters for commercial matters in both business negotiations and political situations.&nbsp;</td>
</tr>
</tbody>
</table>