<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong>&nbsp;</strong></th>
<td><strong>Government Commercial Professional Standards: The individual must demonstrate or provide evidence they are able to demonstrate:</strong></td>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Commercial Support</strong></th>
<td>a. The <strong>Commercial Support attributes</strong> from within the document Attributes for Government Commercial Profession. As a minimum this should include the full range of attributes for Section A (Judgment &amp; Leadership), and those relevant to the specific role from within one of the areas in Section B (Expertise), as well as an understanding of the remaining Commercial Life Cycle areas.<br /><br />b. The <strong>competencies</strong> relevant to the specific role from the <a href="https://www.gov.uk/government/publications/success-profiles"><a href="https://www.gov.uk/government/publications/success-profiles">Civil Service Success Profiles</a></a>&nbsp;<br /><br />In addition, all civil servants are expected to carry out their role with dedication in line with the <strong>standards of behaviour</strong> set out in the <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#standards-of-behaviour">Civil Service Code</a> and the&nbsp;<strong>key characteristics</strong> highlighted within the <a href="https://www.gov.uk/government/publications/civil-service-leadership-statement/civil-service-leadership-statement">Civil Service Leadership Statement</a></td>
</tr>
<tr>
<th><strong>Associate Commercial Practitioner</strong></th>
<td>a. The Associate <strong>Commercial Practitioner attributes</strong> from within the document Attributes for Government Commercial Profession. As a minimum this should include the full range of attributes for Section A (Judgment &amp; Leadership), and those relevant to the specific role from within one of the areas in Section B (Expertise), as well as an understanding of the remaining Commercial Life Cycle areas.<br /><br />b. The <strong>competencies</strong> relevant to the specific role from the <a href="https://www.gov.uk/government/publications/success-profiles">Civil Service Success Profiles</a>&nbsp;<br /><br />In addition, all civil servants are expected to carry out their role with dedication in line with the <strong>standards of behaviour</strong> set out in the <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#standards-of-behaviour">Civil Service Code</a> and the&nbsp;<strong>key characteristics</strong> highlighted within the <a href="https://www.gov.uk/government/publications/civil-service-leadership-statement/civil-service-leadership-statement">Civil Service Leadership Statement</a></td>
</tr>
<tr>
<th><strong>Commercial Practitioner</strong></th>
<td>a. The <strong>Commercial Practitioner attributes</strong> from within the document Attributes for Government Commercial Profession. As a minimum this should include the full range of attributes for Section A (Judgment &amp; Leadership), and those relevant to the specific role from within one of the areas in Section B (Expertise), as well as an understanding of the remaining Commercial Life Cycle areas.<br /><br />b. The <strong>competencies</strong> relevant to the specific role from the <a href="https://www.gov.uk/government/publications/success-profiles">Civil Service Success Profiles</a>&nbsp;<br /><br />In addition, all civil servants are expected to carry out their role with dedication in line with the <strong>standards of behaviour</strong> set out in the <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#standards-of-behaviour">Civil Service Code</a> and the&nbsp;<strong>key characteristics</strong> highlighted within the <a href="https://www.gov.uk/government/publications/civil-service-leadership-statement/civil-service-leadership-statement">Civil Service Leadership Statement</a>.</td>
</tr>
<tr>
<th><strong>Associate Commercial Lead</strong></th>
<td>a. The <strong>Associate Commercial Lead attributes</strong> from within the document Attributes for Government Commercial Profession. As a minimum this should include the full range of attributes for Section A (Judgment &amp; Leadership), and those relevant to the specific role from within one of the areas in Section B (Expertise), as well as an understanding of the remaining Commercial Life Cycle areas.<br /><br />b. The <strong>competencies</strong> relevant to the specific role from the <a href="https://www.gov.uk/government/publications/success-profiles">Civil Service Success Profiles</a>&nbsp;<br /><br />In addition, all civil servants are expected to carry out their role with dedication in line with the <strong>standards of behaviour</strong> set out in the <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#standards-of-behaviour">Civil Service Code</a> and the&nbsp;<strong>key characteristics</strong> highlighted within the <a href="https://www.gov.uk/government/publications/civil-service-leadership-statement/civil-service-leadership-statement">Civil Service Leadership Statement</a>.</td>
</tr>
<tr>
<th><strong>Commercial Lead</strong></th>
<td>a. The <strong>Commercial Lead attributes</strong> from within the document Attributes for Government Commercial Profession. As a minimum this should include the full range of attributes for Section A (Judgement &amp; Leadership), and those relevant to the specific role from within one of the areas in Section B (Expertise), as well as an understanding of the remaining Commercial Life Cycle areas<br /><br />b. The <strong>competencies</strong> relevant to the specific role from the <a href="https://www.gov.uk/government/publications/success-profiles">Civil Service Success Profiles</a><br /><br />c.<strong> Strong core numeracy</strong> skills. &nbsp;<br /><br />In addition, all civil servants are expected to carry out their role with dedication in line with the <strong>standards of behaviour</strong> set out in the <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#standards-of-behaviour">Civil Service Code</a> and the&nbsp;<strong>key characteristics</strong> highlighted within the <a href="https://www.gov.uk/government/publications/civil-service-leadership-statement/civil-service-leadership-statement">Civil Service Leadership Statement</a>.</td>
</tr>
<tr>
<th><strong>Associate Commercial Specialist</strong></th>
<td>a. The <strong>Associate Commercial Specialist attributes</strong> from within the document Attributes for Government Commercial Profession. As a minimum this should include the full range of attributes for Section A (Judgement &amp; Leadership), and those relevant to the specific role from within one of the areas in Section B (Expertise), as well as an understanding of the remaining Commercial Life Cycle areas.<br /><br />b. The <strong>competencies</strong> relevant to the specific role from the <a href="https://www.gov.uk/government/publications/success-profiles">Civil Service Success Profiles</a><br /><br />c.<strong> Strong core numeracy</strong> skills.&nbsp;<br /><br />In addition, all civil servants are expected to carry out their role with dedication in line with the <strong>standards of behaviour</strong> set out in the <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#standards-of-behaviour">Civil Service Code</a> and the&nbsp;<strong>key characteristics</strong> highlighted within the <a href="https://www.gov.uk/government/publications/civil-service-leadership-statement/civil-service-leadership-statement">Civil Service Leadership Statement</a>.</td>
</tr>
<tr>
<th><strong>Commercial Specialist</strong></th>
<td>a. The <strong>Commercial Specialist attributes</strong> from within the document Attributes for Government Commercial Profession. As a minimum this should include the full range of attributes for Section A (Judgement &amp; Leadership), and those relevant to the specific role from within two of the areas in Section B (Expertise), and a range of attributes from within the other areas in Section B.<br /><br />b. The <strong>competencies</strong> relevant to the specific role from the <a href="https://www.gov.uk/government/publications/success-profiles">Civil Service Success Profiles</a><br /><br />c. <strong>Strong core numeracy</strong> skills. &nbsp;<br /><br />In addition, all civil servants are expected to carry out their role with dedication in line with the <strong>standards of behaviour</strong> set out in the <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#standards-of-behaviour">Civil Service Code</a> and the&nbsp;<strong>key characteristics</strong> highlighted within the <a href="https://www.gov.uk/government/publications/civil-service-leadership-statement/civil-service-leadership-statement">Civil Service Leadership Statement</a>.</td>
</tr>
<tr>
<th><strong>Senior Commercial Specialist</strong></th>
<td>a. The <strong>Senior</strong> <strong>Commercial Specialist attributes</strong> from within the document Attributes for Government Commercial Profession. As a minimum this should include the full range of attributes for Section A (Judgment &amp; Leadership), and those relevant to the specific role from within three of the areas in Section B (Expertise), and a range of attributes from within the other areas of Section B.<br /><br />b. The <strong>competencies</strong> relevant to the specific role from the <a href="https://www.gov.uk/government/publications/success-profiles">Civil Service Success Profiles</a><br /><br />c.<strong> Strong core numeracy</strong> skills. &nbsp;<br /><br />In addition, all civil servants are expected to carry out their role with dedication in line with the <strong>standards of behaviour</strong> set out in the <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#standards-of-behaviour">Civil Service Code</a> and the&nbsp;<strong>key characteristics</strong> highlighted within the <a href="https://www.gov.uk/government/publications/civil-service-leadership-statement/civil-service-leadership-statement">Civil Service Leadership Statement</a>.</td>
</tr>
</tbody>
</table>