<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong></strong></th>
<th><strong>Attributes: Demonstrates the following indicators of Contract and Supplier Management to deliver positive outcomes for their team:</strong></th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Commercial Support</strong></th>
<td>- Aware of contract management and how it fits in with the commercial cycle.<br /><br />- Contributes to the creation of commercial files and audit/assurance activities.<br /><br />- Supports a contract information system under supervision.<br /><br />- Supports on contract management activities for simple low value contracts.</td>
</tr>
<tr>
<th><strong>Associate Commercial Practitioner</strong></th>
<td>- Understands why active contract management is important and what it entails. <br /><br />- Lists and explains the key phases in the process and undertakes effective contract management for simple low value contracts.<br /><br />- Recognises and shares best practice with their peers and colleagues.<br /><br />- Understands the Contract Management Capability Programme best practice guide and associated resources.<br /><br />- Supports resolving issues and contract administration.<br /><br />- Oversees creation of commercial files and audit/assurance activities.<br /><br />- Maintains effective contract management information system and processes purchase orders.<br /><br />- Assesses commercial decisions made and the level of risk to the department in progressing to contract award.<br /><br />- Leads on commercial off the shelf (COTS)/standardised contract requirements and develops deeper understanding of specific issues to support more complex/high value requirements.<br /><br />- Supports on exit and transition activities.</td>
</tr>
<tr>
<th><strong>Commercial Practitioner</strong></th>
<td>- Applies the Contract Management Capability Programme best practice guide and associated resources.<br /><br />- Applies organisational contract management processes.<br /><br />- Demonstrates that the scale and depth of contract management is dependent on the nature of the contract and its importance to achieving organisational and policy goals. <br /><br />- Develops effective working relationships with peers in supplier organisations. Works with senior internal colleagues in establishing appropriate governance and review mechanisms along with expected behaviours for successful supplier relationship management.<br /><br />- Demonstrates ability to ensure that suppliers and subcontractors maintain high security standards.<br /><br />- Demonstrates understanding of contract deliverables and the terms and conditions associated with them.<br /><br />- Utilises contract information systems to analyse contract performance.<br /><br />- Monitors progress against objectives specified in the business case and delivery against contractual and security obligations.<br /><br />- Applies understanding of contractual risk and is able to identify risks and raise them with senior colleagues.<br /><br />- Demonstrates ability to set up templates and supplier meetings (project management plans/operations manuals/risk register/change control and filing structures).<br /><br />- Works with suppliers regarding contract performance metrics, management information and any risk/reward mechanisms as part of an agreed measurement approach. Monitors progress against business objectives specified in the business case and can adapt to changing circumstances without losing sight of business objectives.<br /><br />- Demonstrates understanding of the importance of formal contractual variations and is able to effectively plan for variations and set clear objectives, ensuring VFM is achieved.<br /><br />- Works alongside other business areas of the business (i.e. operational colleagues) to ensure that through auditing of records and reports regarding the supplier&rsquo;s performance is completed throughout the contract life.<br /><br />- Demonstrates understanding of relationship management, supplier innovation and supplier management principles, behaviours, plans and techniques.<br /><br />- Supports others in maintaining good stakeholder relationships.<br /><br />- Identifies and addresses issues before escalation without creating unnecessary bureaucracy. Is able to escalate supply issues to the appropriate level for resolution when necessary.<br /><br />- Understands supplier capacity, delivery capability, geographic coverage, market and supply situations which may impact on service delivery. <br /><br />- Demonstrates understanding of the benefits of changing the approach to market over time.<br /><br />- Manages a number of requirements concurrently.<br /><br />- Develops commercial strategies.<br /><br />- Ensures effective contract management.<br /><br />- Leads and assists with development of outputs, contract sourcing and commercial strategies.</td>
</tr>
<tr>
<th><strong>Associate Commercial Lead</strong></th>
<td>- Aware of, understands and applies the principles of Contract Management Capability Programme (CMCP) best practice guide. Has achieved Foundation Level accreditation for CMCP.<br /><br />- Understands and is able to apply and advise others on organisational contract management processes.<br /><br />- Assesses the level of resource and approach required to manage the contract and identifies if a strategic or non-strategic approach to supplier management is required.<br /><br />- Demonstrates a deep understanding of the terms and conditions of the contract, the deliverables and works with the supplier to establish a plan for delivering them.<br /><br />- Agrees and clarifies contract management responsibilities with stakeholders and can advise them on setting up effective processes.<br /><br />- Articulates the impact of poor supplier and subcontractor security.<br /><br />- Evaluates and monitors the performance of suppliers against the specification.<br /><br />- Provides practical advice to stakeholders having identified, evaluated, negotiated and apportioned contract and security risks.<br /><br />- Manages new small and medium sized enterprise (SME) suppliers to enable them to deliver, demonstrate additional support if the SME is supplying for the first time.<br /><br />- Monitors key performance indicators (KPIs) actively against baselines and uses management information to improve client and supplier performance. Manages and eliminates underperformance.<br /><br />- Develops opportunities to incentivise contract delivery and continuous performance improvement (where appropriate).<br /><br />- Identifies where changes in the contract are required. <br /><br />- Overseas measures and records the realisation of benefits achieved as a result of the performance management regime (or change controls).<br /><br />- Develops and applies the principles of supplier management and supplier performance management to meet the needs of the organisation and optimise outcomes, including security of supply.<br /><br />- Builds and maintains strategic partnerships with key suppliers to share risks, benefits and services costs, as well as identify possible scope for supplier innovation during the contract.<br /><br />- Facilitates relationship development between appropriate teams within the department and suppliers. <br /><br />- Actively reconsiders market approach over time, including:<br />* Consider shifting balance of mixed market towards private sector provision<br />* Examine whether re-aggregation will yield scale efficiencies.<br /><br />- Manages the disposal or recycled process of assets (including of classified assets and material) as well as any intellectual property that is no longer needed once the current contract expires.<br /><br />- Leads all planning and preparation, goal setting, strategy and tactics for re-procurement. Able to undertake soft market testing.<br /><br />- Ensures supplier performance is maintained in any transition to new contractual arrangements or to the end of the contract (if not being re-competed).<br /><br />- Needs experience of gathering and collating lessons learned from broader commercial teams to feed into future procurement projects and intelligence performance of previous contracts.<br /><br />- Utilises financial management and benchmarking.<br /><br />- Undertakes proactive change controls, such as horizon scanning and evaluates the impact of supplier positioning, such as mergers.<br /><br />- Manages multiple, more complex requirements and contracts concurrently.<br /><br />- Manages assurance requirements and conducts peer reviews.<br /><br />- Negotiates with industry on key issues, such as contract terms, pricing, contract changes, Terms &amp; Conditions, risk and reward.</td>
</tr>
<tr>
<th><strong>Commercial Lead</strong></th>
<td>- Manages contract variations, providing practical advice and strategic direction.<br /><br />- Evaluates whether a contract is achieving a successful return on investment, in the light of value for money considerations.<br /><br />- Challenges non-delivery of benefits and escalates when required.<br /><br />- Evaluates the performance of suppliers against the specification, reporting regularly.<br /><br />- Manages risk and reward mechanisms in contracts and key performance indicators.<br /><br />- Identifies where changes in the contract are required and adopts strategies to implement these.<br /><br />- Monitors progress against the business objectives and works with suppliers and customers to develop improvements.<br /><br />- Actively manages strategic relationships to deliver mutual benefit for those involved.<br /><br />- At a delivery level, holds both suppliers and customers accountable for living up to their contractual commitments. Resolves disputes effectively and efficiently.<br /><br />- Leads all planning and strategy for re-procurement. Able to undertake soft market testing.<br /><br />- Manages the disposal process of assets that are no longer needed once the current contract expires.<br /><br />- Advises on and mitigates risks to the continuity of supply.</td>
</tr>
<tr>
<th><strong>Associate Commercial Specialist</strong></th>
<td>- Manages underperformance to resolution.<br /><br />- Oversees the realisation of benefits achieved as a result of the performance management regime or change control.<br /><br />- Leads mediation and dispute resolution, driving value from the use of performance metrics and success criteria.<br /><br />- Implements structured approaches to supplier relationship management throughout their area of responsibility.<br /><br />- Manages supplier relationships and contract teams giving day-to-day oversight of contracts.<br /><br />- Provides expert advice on relevant regulations and compliance issues.<br /><br />- Provides practical advice to stakeholders having identified, evaluated, negotiated and apportioned contract risks.<br /><br />- Ensures business continuity e.g. security of supply extends during any transition period and throughout the entire contract life, including re-procurement and closedown.<br /><br />- Leads transition management, exit strategy and contract renegotiations, including driving value from the use of performance metrics and success criteria.</td>
</tr>
<tr>
<th><strong>Commercial Specialist</strong></th>
<td>- Designs the evaluation methodology for complex procurements, puts in place the strategy for risk allocation and defines contract and performance management processes.<br /><br />- Leads on dispute resolution on contracts of high value/complexity/reputational risk, delivering results favourable to the department and ensuring security of supply throughout.<br /><br />- Demonstrates a relentless focus in managing costs and driving the best value out of contracts.<br /><br />- Champions continuous improvement, aligning strategies with wider government commercial policies, taking into account internal and external forces and best practices, e.g. National Audit Office, Professional Associations.<br /><br />- Uses a variety of contracting approaches to minimise risk, motivate performance, and drive innovation.<br /><br />- At an executive level, across contracts, with key suppliers and customers, drives compliance with contractual commitments.<br /><br />- Anticipates problems and uses insight to act and secure value for the whole of government.<br /><br />- Develops and maintains the use of structured approaches to supplier relationship management throughout the department.<br /><br />- Develops and enacts exit strategies to be used across contracts.</td>
</tr>
<tr>
<th><strong>Senior Commercial Specialist</strong></th>
<td>- Oversees and sets the overall contract management strategy for their department.<br /><br />- Ensures sufficient resource is deployed to manage complex contracts effectively and addresses problematic projects to turn the situation around.<br /><br />- Manages dispute resolution between strategic suppliers and the government.<br /><br />- Actively reconsiders market approach over time to consider new or innovative commercial models.<br /><br />- Oversees and sets the overall tone of the department&rsquo;s relationship with suppliers.<br /><br />- Supports and drives the use of structured approaches to supplier relationship management across the Civil Service.<br /><br />- Identifies failing projects and is able to persuade other leaders and politicians when these need to be stopped.<br /><br />- Oversees exit and transition management across the department&rsquo;s commercial function, and pays particular attention to the most strategically important contracts.</td>
</tr>
</tbody>
</table>