<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th></th>
<th><strong>Attributes: Demonstrates the following indicators of Strategy and Policy Development to deliver positive outcomes for their team:</strong></th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Commercial Support</strong></th>
<td>- Basic understanding of the needs of the business.<br /><br />- Basic understanding of a sourcing strategy and how a strategy would apply to low value purchases and procurements.<br /><br />- Contributes to collating data and information required to support the development of a strategy in the area of responsibility. <br /><br />- Awareness of the procurement regulatory framework and its linkage to the implementation of policy objectives.</td>
</tr>
<tr>
<th><strong>Associate Commercial Practitioner</strong></th>
<td>- Aware of the importance of understanding the needs of the business and translating them into the whole life category cycle at the start.<br /><br />- Understands the purpose of a sourcing strategy and devises a suitable strategy when sourcing simple low value purchases and procurements.<br /><br />- Understands and engages the relevant internal stakeholders and subject matter experts to assist in developing and executing the sourcing strategy for simple low value purchases and procurements.<br /><br />- Aware of markets and elementary economics factors which may determine a market shape.<br /><br />- Aware that the security requirements of departments are wide ranging and apply proportionally to all contracts.<br /><br />- Familiar with how to obtain data on past patterns of spend. Identifies those parts of the organisation that have or are likely to have needs in the particular area in question.<br /><br />- Aware of tools and techniques that can be used to benchmark the current state of the category, including determining future requirements and is able to use under supervision.<br /><br />- Confirms the type of supplies/services that are required and identifies potentially suitable suppliers and markets. <br /><br />- Contributes to the development of category and sourcing strategy. Maintains strategies and implements agreed sourcing plans.<br /><br />- Understands the importance of baselining costs in order to build expected benefits into category strategies and is able to contribute to the development of sourcing plans.<br /><br />- Understands the benefits specified in the business case and the impact on their own role.<br /><br />- Adapts to changing circumstances without losing sight of business objectives.<br /><br />- Aware of the importance of developing effective negotiation skills.<br /><br />- Understands the procurement regulatory framework and its linkage to the implementation of policy objectives.</td>
</tr>
<tr>
<th><strong>Commercial Practitioner</strong><strong></strong><strong></strong></th>
<td>- Demonstrates how markets and elementary economics factors may determine a market shape.<br /><br />- Demonstrates the importance of understanding the needs of the business and translating them into category objectives.<br /><br />- Demonstrates the importance of ensuring the whole category management cycle is considered from the start.<br /><br />- Applies understanding of how the security requirements of departments are wide ranging and applies proportionally to all contracts.<br /><br />- Demonstrates how to obtain data on past patterns of spend. Identifies those parts of the organisation that have or are likely to have needs in the particular area in question.<br /><br />- Applies tools and techniques that can be used to benchmark the current state of the category and to determine future requirements and is able to use some under supervision.<br /><br />- Identifies the type of supplies/services required and potentially suitable suppliers and markets. <br /><br />- Develops category and sourcing strategy. Applies strategies and implements agreed sourcing plans.<br /><br />- Demonstrates the importance of baselining costs in order to build expected benefits into category strategies and is able to contribute to the development of sourcing plans.<br /><br />- Demonstrates the benefits specified in the business case and the impact on their own role.<br /><br />- Adapts to changing circumstances without losing sight of business objectives.<br /><br />- Demonstrates the importance of developing effective negotiation skills.<br /><br />- Applies the procurement regulatory framework and demonstrates how it links to the implementation of policy objectives.</td>
</tr>
<tr>
<th><strong>Associate Commercial Lead</strong></th>
<td>- Advises and guides on category management as required, and can manage stakeholder expectations.<br /><br />- Manages the benefits, risks and issues of a category management approach and can take the lead in developing solutions in the area of responsibility.<br /><br />- Works alongside customers to identify and agree present and future needs, linkages to other areas of activity and related potential needs for procurement.<br /><br />- Utilises tools and techniques to benchmark categories and determine future requirements.<br /><br />- Builds strong relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the category strategy.<br /><br />- Applies understanding of the importance of prime contractors in managing and assuring their own supply chain in particular security of supply and contingencies.<br /><br />- Evaluates specific procurement risks and applies appropriate risk mitigation techniques when sourcing goods/services.<span> </span><br /><br />- Understands and can explain what a legal challenge is, why they can occur and what can be done to mitigate the risk of a legal challenge, implementing mitigation strategies as appropriate.</td>
</tr>
<tr>
<th><strong>Commercial Lead</strong></th>
<td>- Contributes to the development and implementation of business unit strategies through to supply chain management.<br /><br />- Develops supplier management strategies in order to maximise commercial leverage.<br /><br />- Establishes dialogue/negotiation strategies with clear parameters.<br /><br />- Implements commercial policy objectives and challenges risk averse behaviours where appropriate.<br /><br />- Evaluates the potential effect of mergers and acquisitions on the organisation&rsquo;s supply chains.<br /><br />- Understands costs, risks and value through different tiers of the supply chain.<br /><br />- Secures and acts on insight into customers, citizens, services, communities and markets relating to a specified set of contracts or projects.</td>
</tr>
<tr>
<th><strong>Associate Commercial Specialist</strong></th>
<td>- Implements government commercial policy and articulates relevant requirements to stakeholders.<br /><br />- Develops implementation and resource plans in line with policy objectives and expertly applies relevant legislation.<br /><br />- Able to work with a range of different complex delivery models (e.g. prime contracting/management contracting/turnkey/outsourcing/partnering such as PPP/PFI).<br /><br />- Produces and analyses data to inform category strategy and sector management.<br /><br />- Ensures relevant issues are fed into strategy and big picture considerations.<br /><br />- Seeks to maximise benefits for the project through effectively executing the commercial strategy.<br /><br />- Identifies when something needs to change and sets out practical options.<br /><br />- Assembles cross-disciplinary teams, including contract management and applies strong project management disciplines.<br /><br />- Looks at market and resources to achieve commercial gain, understanding how department and suppliers can utilise assets and capabilities effectively.<br /><br />- Researches and identifies markets and quantifies risk.<br /><br />- Considers the long-term resilience of supply chains and takes opportunities to mitigate the risks and develop opportunities.<br /><br />- Secures and acts on insights into customers, citizens, services, communities and markets within their sector.</td>
</tr>
<tr>
<th><strong>Commercial Specialist</strong></th>
<td>- Inputs, assesses and shapes department and ministerial policies from a commercial perspective.<br /><br />- Develops and delivers commercial strategies requiring supplier innovation, senior stakeholder engagement, and/or market building/shaping.<br /><br />- Creates strategies and influences a departmental culture that values effective commercial input, innovation, procurement excellence, and supply chain management.<br /><br />- Develops commercial resource plans including staff, systems and infrastructure to achieve effective commercial outcomes.<br /><br />- Develops and implements commercial strategies for projects.<br /><br />- Provides advice on major investment appraisal and decisions.<br /><br />- Engages stakeholders in the vision of the commercial function, challenging bad commercial practice and unreasonable demands.<br /><br />- Encourages innovation and new markets through managing risks and creating business opportunities.<br /><br />- Critically assesses supply chains and seeks to improve the department&rsquo;s position.<br /><br />- Provides advice and uses commercial expertise and data to inform judgements in markets, sectors, policy, delivery mechanisms, and suppliers.<br /><br />- Secures and acts on insights into customers, citizens, services, communities and markets affected by their area and the wider public sector context.</td>
</tr>
<tr>
<th><strong>Senior Commercial Specialist</strong></th>
<td>- Inputs, assesses and shapes pan-Government policies from a commercial perspective.<br /><br />- Sets the overall commercial vision and strategy for the department focused on outcomes such as adding value to the citizen and making real, lasting change. Establishes a culture of delivery, continuous improvement, efficiency and value for money.<br /><br />- Critically assesses markets and competitive behaviour undertaken by all suppliers and takes actions to improve or protect the organisation&rsquo;s interests.<br /><br />- Maximises commercial benefits for the government through a deep understanding of the whole commercial life cycle, innovations and new commercial models.<br /><br />- Delivers government priorities utilising strong networks to gather insight into the political, organisational, economic, social, environmental and technological contexts.<br /><br />- Has an up-to-date understanding of the global context and markets within which government departments, suppliers and businesses operate.</td>
</tr>
</tbody>
</table>