<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong></strong></th>
<th><strong>Attributes: Demonstrates the following indicators of Complex Deals 1: Foundation to deliver positive outcomes for their team:</strong></th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Associate Commercial Specialist</strong></th>
<td>- Leads transition management, exit strategy and contract renegotiations including driving value from the use of performance metrics and success criteria.<br /><br />- Ensures business continuity e.g. security of supply extends during any transition period and throughout the entire contract life, including re-procurement and closedown.<br /><br />- Leads complex and high value negotiations, finalising major deals, escalating only where necessary to secure progress or improve outcomes.<br /><br />- Oversees contract documentation and handover to business teams, resolving priority issues and involving other professionals where needed (e.g. legal).<br /><br />- Produces and analyses data to inform category strategy and big picture considerations.<br /><br />- Ensures relevant issues are fed into strategy and big picture considerations.<br /><br />- Seeks to maximise benefits for the project through effectively executing the commercial strategy.<br /><br />- Identifies when something needs to change and sets out practical options.</td>
</tr>
<tr>
<th><strong>Commercial Specialist</strong></th>
<td>- Develops and enacts exit strategies to be used across contracts.<br /><br />- Leads complex and high value negotiations, finalising major deals, escalating only where necessary to secure progress and improve outcomes.<br /><br />- Oversees contract documentation and handover to business teams, resolving priority issues and involving other professionals where needed (e.g. legal).<br /><br />- Develops and delivers commercial strategies requiring supplier innovation, senior stakeholder engagement, and/or market building/shaping.<br /><br />- Creates strategies and influences a departmental culture that values effective commercial input, innovation, procurement excellence, and supply chain management.<br /><br />- Develops commercial resource plans including staff, systems, and infrastructure to achieve effective commercial outcomes.<br /><br />- Develops and implements commercial strategies for projects.<br /><br />- Provides advice on major investment appraisal and decisions.</td>
</tr>
</tbody>
</table>