<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th><strong></strong></th>
<th><strong>Attributes: Demonstrates the following indicators of Complex Deals 2: Advanced to deliver positive outcomes for their team:</strong></th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Associate Commercial Specialist</strong></th>
<td>- Manages underperformance to resolution.<br /><br />- Oversees the realisation of benefits achieved as a result of the performance management regime or change control.<br /><br />- Leads mediation and dispute resolution, driving value from the use of performance metrics and success criteria.<br /><br />- Implements structured approaches to supplier relationship management throughout their area of responsibility.<br /><br />- Manages supplier relationships and contract teams giving day-to-day oversight of contracts.<br /><br />- Provides expert advice on relevant regulations and compliance issues.<br /><br />- Provides practical advice to stakeholders having identified, evaluated, negotiated and apportioned contract risks.<br /><br />- Implements government commercial policy and articulates relevant requirements to stakeholders.<br /><br />- Develops implementation and resource plans in line with policy objectives and expertly applies relevant legislation.<br /><br />- Able to work with a range of different complex delivery models (e.g. prime contracting/management/contracting/turnkey/outsourcing/partnering such as PPP/PFI).</td>
</tr>
<tr>
<th><strong>Commercial Specialist</strong></th>
<td>- Designs the evaluation methodology for complex procurements, puts in place the strategy for risk allocation and defines contract and performance management processes.<br /><br />- Leads on dispute resolution on contacts of high value/complexity/reputational risk, delivering results favourable to the department and ensuring security of supply throughout.<br /><br />- Demonstrates a relentless focus in managing costs and driving the best value out of contracts.<br /><br />- Champions continuous improvement, aligning strategies with wider government commercial policies, taking into account internal and external forces and best practice, e.g. National Audit Office, Professional Associations.<br /><br />- Uses a variety of contracting approaches to minimise risk, motivate performance, and drive innovation.<br /><br />- At an executive level, across contracts, with key suppliers and customers, drives compliance with contractual commitments.<br /><br />- Anticipates problems and uses insight to act and secure value for the whole of government.<br /><br />- Develops and maintains the use of structured approaches to supplier relationship management throughout the department.<br /><br />- Inputs. assesses and shapes department and ministerial policies from a commercial perspective.</td>
</tr>
</tbody>
</table>