<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th></th>
<th><strong>Attributes: Demonstrates the following indicators of Procurement Process to deliver positive outcomes for their team:</strong></th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Commercial Support</strong></th>
<td>- Contributes to the collation of data and information to inform commercial models.<br /><br />- Aware of public procurement regulations.<br /><br />- Contributes to the development of a bidder&rsquo;s pack.<br /><br />- Basic understanding of performance measurement.</td>
</tr>
<tr>
<th><strong>Associate Commercial Practitioner</strong></th>
<td>- Understands the essentials of public procurement regulations and the impact they have on all stages of the procurement process.<br /><br />- Supports activities to inform decisions on commercial models.<br /><br />- Understands and identifies what should be included in a bidder&rsquo;s pack for simple low value purchases and procurements.<br /><br />- Aware of and understands different evaluation methodologies and where best to apply them in different types of sourcing.<br /><br />- Recognises and understands the need to measure performance and challenge inefficient processes.</td>
</tr>
<tr>
<th><strong>Commercial Practitioner</strong></th>
<td>- Develops bidders&rsquo; packs including reviewing and clarifying the specification, drafting appropriate tools and considering optimal pricing and incentivisation mechanisms for simple low value purchases and procurements.<br /><br />- Applies the essentials of public procurement regulations and the impact they have on all stages of the procurement process.<br /><br />- Works with organisational policies, procedures, security requirements and systems and has experience of following them.<br /><br />- Applies the organisations and government-wide key performance indicators and has experience of measuring performance against them.<br /><br />- Understands principles of Single Source Procurement Reform. <br /><br />- Leads and manages the end to end tendering process<br /><br />- Demonstrates ability to run workshops with key business stakeholders (voice of the customer) in order to develop a clear understanding of the requirement.<br /><br />- Applies understanding that the mishandling or loss of government assets could have significant reputational and economic costs for all parties.<br /><br />- Demonstrates how cost models and associated financial, commercial and security concepts can be used.<br /><br />- Applies understanding of how financial and contractual delegations assigned to individuals form part of organisational control and governance mechanisms.<br /><br />- Demonstrates how to brief and train evaluators in the use of e-sourcing tools.<br /><br />- Demonstrates the principles of when and how to negotiate and the range of tactics that can be used.<br /><br />- Demonstrates practical experience of, or participating in, conducting negotiations.<br /><br />- Demonstrates how to debrief unsuccessful suppliers and has experience of doing so.<br /><br />- Works effectively with the Contract Management function as part of the contract management mobilisation phase.</td>
</tr>
<tr>
<th><strong>Associate Commercial Lead</strong></th>
<td>- Is able to successfully implement procurement policy objectives in all sourcing projects and is able to challenge risk averse behaviours where appropriate.<br /><br />- Is able to navigate the legislative framework and implement resource efficient strategies that result in achievement of policy objectives.<br /><br />- Fully conversant with organisational commercial strategy and procurement policies, procedures, security requirements, processes and governance mechanisms and is able to advise and support colleagues in their application.<br /><br />- Identifies and works with cross disciplinary teams (that includes the contract management function) and applies a strong visual project management approach to procurement projects.<br /><br />- Able to quantify and source contract management resources. Able to identify and choose contract management representatives to review tender pack and take part in the evaluations.<br /><br />- Identifies the costs of existing or similar service provision and engages with suppliers in the marketplace in a planned way.<br /><br />- Ensures that contract management mobilisation phase and supporting activities are carried out successfully.<br /><br />- Applies the most appropriate evaluation strategy to a sourcing requirement taking into account the type of commodity being procured, complexity, value and strategic importance.</td>
</tr>
<tr>
<th><strong>Commercial Lead</strong></th>
<td>- Advises on and applies procurement policies, processes and governance mechanisms.<br /><br />- Develops and publishes a full and approved bidder&rsquo;s pack in line with financial and contractual delegations.<br /><br />- Understands how to use early market engagement and robust data to inform decisions on commercial models.<br /><br />- Measures performance, challenges inefficient processes and practices and makes proposals for improvement.<br /><br />- Devises and develops the strategy for transition to contract manager in partnership with the contract manager.</td>
</tr>
<tr>
<th><strong>Associate Commercial Specialist</strong></th>
<td>- Manages procurements setting out the timeline, risks, mitigations and deliverables, involving other professionals and teams when needed.<br /><br />- Develops procurement documentation to support the tender and evaluation process.<br /><br />- Constructs contracts with advice and input from others, e.g. lawyers, usually within a reasonably well defined framework or with standard rules.<br /><br />- Identifies and secures new suppliers to improve competition.<br /><br />- Supports the creation of markets to strengthen the range and quality of options available to government in its commercial arrangements.<br /><br />- Collates and reviews performance information across their area of responsibility and makes recommendations for improvements to senior stakeholders.<br /><br />- Quantifies and identifies contract management resources.<br /><br />- Supports and leads negotiations with data and evidence and for some contracts acts as the signing authority.</td>
</tr>
<tr>
<th><strong>Commercial Specialist</strong></th>
<td>- Applies developed ability to draft bespoke terms and conditions to work outside established frameworks.<br /><br />- Identifies new markets and supports new bidders to improve outcomes of competition.<br /><br />- Leads on the creation of markets to strengthen the range and quality of options available to government in its commercial arrangements.<br /><br />- Manages cross-disciplinary teams and relationships at a senior level to deliver outcomes and applies good reporting and transparency mechanisms.<br /><br />- Identifies and acts on opportunities for innovation to secure organisational improvement and the management of assets (e.g. intellectual property).<br /><br />- Applies judgement and manages risks to drive value for money and ensure robust outcomes during procurement and evaluation.<br /><br />- Leads complex and high value negotiations, finalising major deals, escalating only where necessary to secure progress or improve outcomes.</td>
</tr>
<tr>
<th><strong>Senior Commercial Specialist</strong></th>
<td>- Promotes competition with strong, innovative and emerging suppliers and identifies opportunities in new markets or changing supply chains.<br /><br />- Encourages the use of new technology and innovation, such as digital marketplaces, to support delivery and improve procurement or supply chain performance.<br /><br />- Manages risk at the senior executive level to get the correct outcomes for the government.<br /><br />- Provides negotiation advice and direction, leading on high-profile escalations.<br /><br />- Challenges the received wisdom and brings delivery and value for money principles to bear.</td>
</tr>
</tbody>
</table>