<table class="financial-data source-tableeditor">
<thead>
<tr class="section-heading">
<th></th>
<th><strong>Attributes: Demonstrates the following indicators of Understanding Needs and Sourcing Options to deliver positive outcomes for their team:</strong></th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Commercial Support</strong></th>
<td>- Aware of the need for a business case and contributes to the development of one under supervision.<br /><br />- Basic understanding of forecasting and requirements planning.<br /><br />- Aware of how project management supports the procurement cycle.<br /><br />- Aware of e-sourcing tools and how they are used in managing sourcing processes.</td>
</tr>
<tr>
<th><strong>Associate Commercial Practitioner</strong></th>
<td>- Understands the importance of supply market analysis, who conducts it, why and at what point it is carried out.<br /><br />- Understands the need for a business case and provides support to its development.<br /><br />- Aware of the Outsourcing Playbook and how it relates to the area of responsibility.<br /><br />- Supports activities to forecast and plan requirements.<br /><br />- Understands how project management supports all aspects of the procurement cycle.<br /><br />- Understands the differences between strategic and non-strategic suppliers and the associated supplier management principles.<br /><br />- Aware of sustainability risks and opportunities and familiar with the Social Value Act and how this can be actively incorporated into the procurement process.<br /><br />- Understands the principles of pre market engagement.<br /><br />- Understands the security requirements of departments.<br /><br />- Recognises e-sourcing tools to support an efficient approach to managing sourcing processes.</td>
</tr>
<tr>
<th><strong>Commercial Practitioner</strong><strong></strong><strong></strong></th>
<td>- Applies the principles and processes of pre market engagement. <br /><br />- Applies the security requirements of departments.<br /><br />- Works with the key roles and responsibilities of prime and sub-contractors for delivery, security and Key Performance Indicators (KPIs).<br /><br />- Demonstrates the benefits specified in the business case and the impact on their own role.<br /><br />- Applies the organisation&rsquo;s commercial strategy and the governance mechanisms that drive it.<br /><br />- Demonstrates right sizing and optimal lotting on procurement in order to get full value from potential Small Medium Enterprises (SME) suppliers (buying from SMEs when they provide best value for money (VFM).<br /><br />- Applies the relevant sections of the Outsourcing Playbook to the area of responsibility<br /><br />- Applies project planning and management techniques to procurement projects. Applies understanding that cross disciplinary teams need to be deployed in order to ensure success as part of a Lean sourcing approach.<br /><br />- Engages with the contract management function and other internal stakeholders in the sourcing phase to ensure early preparations for contract management are factored into the plan.<br /><br />- Demonstrates how the Social Value Act applies to the area of responsibility.<br /><br />- Conducts pre-procurement market engagement to ensure that the requirement is clear and attractive to a diverse range of suppliers.<br /><br />- Works with pre-existing arrangements either within the Department or across Government that could be exploited to meet the requirement negating the need to set up an alternative sourced arrangement.<br /><br />- Utilises e-tendering tools<br /><br />- Manages record-keeping and compliance with process<span> </span><br /><br />- Ability to support customers with running their low value/self-service procurements.<br /><br />- Utilises e-sourcing tools to support an efficient approach to managing sourcing processes.</td>
</tr>
<tr>
<th><strong>Associate Commercial Lead</strong><strong></strong><strong></strong></th>
<td>- Works as a procurement lead and as part of cross-functional teams in order to implement pre market engagement, understands market models and market shaping.<br /><br />- Provides advice and guidance on category management as required, and can manage stakeholder expectations.<br /><br />- Advises on the benefits, risks and issues of a category management approach and can take the lead in developing solutions.<br /><br />- Explains the importance of the whole category management cycle, including contract management and builds it into the plans from the start.<br /><br />- Fully conversant with the use of tools and techniques, in order to benchmark categories and determine the future requirements.<br /><br />- Builds relationships with key internal and external stakeholders, in order to develop a clear and agreed view of the needs of the business and wider cross-government strategies which can then be built into the category strategy.<br /><br />- Understands the requirement, the marketplace and potential solutions. Can provide advice and is able to challenge where necessary.<br /><br />- Uses e-sourcing/e-tendering tools to support the sourcing process.<br /><br />- Understands the importance of prime contractors in managing and assuring their own supply chain in particular security of supply and contingencies.<br /><br />- Develops category strategies, product road maps and sourcing plans. Maintains these taking into account outputs from market analysis.<br /><br />- Base lines costs using market knowledge and research and manages sourcing and benefits realisation plans.<br /><br />- Ensures that all pre-procurement engagement has been completed and that the organisation is ready to go to market.<br /><br />- Engages and works with key stakeholders to develop a clear and agreed view of business requirements and target outcomes.<br /><br />- Seeks early active involvement of the contract management function and other internal stakeholders in the sourcing process to ensure full and deep understanding of the resulting contract.<br /><br />- Works with pre-existing arrangements either within the Department or across Government that could be exploited to meet the requirement negating the need to set up an alternative sourced arrangement.<br /><br />- Leads/manages (if appropriate) any Controls and Internal/Department Approvals process. Engagement with these bodies and gaining the necessary approvals.</td>
</tr>
<tr>
<th><strong>Commercial Lead</strong></th>
<td>- Works with key stakeholders to develop a clear and agreed view of business requirements.<br /><br />- Supports business units in articulating their commercial requirements.<br /><br />- Provides sufficient detail to allow the market to respond to requirements whilst leaving room for innovation, and is able to challenge specifications to improve outcomes.<br /><br />- Understands demand by forecasting and planning requirements with internal stakeholders and suppliers.<br /><br />- Develops category strategies, product road maps and sourcing plans.<br /><br />- Considers and evaluates a range of sourcing models.<br /><br />- Able to develop options for a business case, including articulating associated benefits and producing supporting arguments for the preferred option.<br /><br />- Selects appropriate project / programme management tools to underpin business requirements.<br /><br />- Identifies opportunities to develop collaborative partnerships with suppliers.<br /><br />- Provides advice and guidance on sectors and suppliers as required, and can manage stakeholder expectations.<br /><br />- Seeks early active involvement of internal stakeholders in the sourcing process. This includes seeking business buy in and understanding as to how the contract will be managed once the sourcing project is complete.<br /><br />- Understands and effectively articulates the requirement, the market place and potential solutions.</td>
</tr>
<tr>
<th><strong>Associate Commercial Specialist</strong></th>
<td>- Refines specification for complex requirements.<br /><br />- Engages stakeholders to develop a clear and agreed view of business requirements and target outcomes.<br /><br />- Manages and forecasts demand across their area of responsibility.<br /><br />- Challenges the sourcing strategy, where appropriate, to improve outcomes.<br /><br />- Reviews and challenges business cases to make sure they are fit for purpose.<br /><br />- Implements appropriate project and programme management across their area of responsibility.<br /><br />- Achieves the return on investment and improves costs and delivery certainty by managing resources and maximising the use of assets.<br /><br />- Considers key service and delivery objectives with stakeholders and implements appropriate contract and performance management regime within the terms and conditions.<br /><br />- Develops and instigates approaches with stakeholders to support collaborative commercial relationships using appropriate frameworks and standards.<br /><br />- Provides advice on market behaviour, shape and drivers to secure value.<br /><br />- Considers key financial, legal and commercial issues in the development of the contracting model and implements these within the terms and conditions.<br /><br />- Advises on relevant regulations and compliance issues demonstrating a strong knowledge.</td>
</tr>
<tr>
<th><strong>Commercial Specialist</strong></th>
<td>- Understands the marketplace and strategically influences the requirement, challenging wants over needs and seeking innovation solutions.<br /><br />- Creates plans to enhance demand forecasting to achieve a balance between demand and supply.<br /><br />- Develops strong business options to influence ministers and senior leaders, drawing out key risks and compliance issues.<br /><br />- Provides challenge on sourcing models and advises on complex commercial deals.<br /><br />- Can critically assess and recommend optimum supply strategy from a range of make vs buy commercial options (insourcing, outsourcing, investment, PFI/PPP, mutual, third sector, etc.)<br /><br />- Devises and implements successful collaborative category management solutions to drive financial benefits, analysing the needs of various customers and the market whilst minimising risk and maximising commercial advantage to the Contracting Authority.<br /><br />- Promotes collaborative engagement with commercial partners across the department. <br /><br />- Provides expertise across a range of different categories and sectors.<br /><br />- Analyses needs from a variety of customers and negotiates changes to their shape or timing to maximise commercial advantage.</td>
</tr>
<tr>
<th><strong>Senior Commercial Specialist</strong></th>
<td>- Seeks out opportunities for innovation and takes managed risks to change accepted practices.<br /><br />- Attracts and retains world class suppliers to build a competitive product/supply chain advantage.<br /><br />- Influences department leaders and politicians to maximise value for money through ensuring timely adjustments to changing market conditions.<br /><br />- Develops strategic approaches to mitigate the impact of markets and globalisation on supply chains and takes action to exploit market opportunities.<br /><br />- Possesses in-depth understanding of international sourcing.</td>
</tr>
</tbody>
</table>